@charset "UTF-8";
body, * {
	font-family: Verdana, Geneva, sans-serif;
}
input, textarea {
	font-family: Verdana, Geneva, sans-serif !important;
}
textarea.note { height: 5em; width: 30em; padding: 3px; margin-bottom: 1em; }
.ui-selectmenu { font-size: 85%; color: #f60 !important; float: left; /*margin-right: 50em;*/ width: 120px !important; }
.ui-selectmenu-menu li a { font-size: 85%; text-align: left; }
#hd, #bd, #ft {
	text-align: left;
	background-color: #FFF;
}
#hd {
	background-color: #333;
	border-top: 1px solid #FFF;
	padding: 1em;	/*  */
	border-bottom: 1px solid #F90;
	height: 35px;
}
#hd h1 {
	font-size: 200%;
	font-weight: bold;
	color: #FFF;
}
hr.thin {
	height: 1px;
	background-color: #000;
	border: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
}
hr.medium {
	height: 3px;
	background-color: #000;
	border: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
}
hr.thick {
	height: 7px;
	background-color: #000;
	border: 0 px;
	margin-top: 2px;
	margin-bottom: 2px;
}
.dvpct {
	font-weight: bold;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.bold {
	font-weight: bold;
}
.toprow {
	background-color: #999;
}
table.tracker {
	width: 100%;
	margin-bottom: .5em;
}
table.tracker td, table.tracker th {
	padding: 4px;
	border : 1px solid #999;
}
table.tracker th {
	font-weight: bold;
	background-color: #CCC;
	white-space: nowrap;
	font-size: 85%;
}
#bd h3 {
	font-size: 125%;
	font-weight: bold;
	margin-top : 1em;
	margin-bottom: .5em !important;
}
.addfood, .addfood a {
	margin-top: 1.8em;
	font-weight: bold;
	color: #F60;
	font-size: 90%;
	vertical-align: bottom;
}
.addcustomfood {
	margin-top: .8em
}
#doc2 {
	background-color: #EFEFEF
}
#nav {
	background-color: #F90;
	text-align: right;
	padding: .3em .6em;
}
#nav li {
	display: inline;
	list-style-type: none;
	padding-right: .5em;
	font-size: 85%
}
#nav li a {
	text-decoration: none;
	font-weight: bold;
	color: #333;
	cursor: pointer;
}
#bd {
	background-color: #EEE;
	padding: 1em;
	height: auto;
	min-height: 15em;
}
#bd h2.title {
	font-size: 150%;
	font-weight: bold;
	margin: 0;
	padding-top: .5em;
}
#bd h2 {
	font-size: 150%;
	font-weight: bold;
}
#ft {
	background-color: #333;
	border-top: 1px solid #F90;
	padding: 1em;
	color: white;
}
#ft small {
	font-size: 85%
}
table.search-results {
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
}
table.search-results td {
	padding: 4px;
	border: 1px solid #999;
}
a {
	text-decoration: none;
	color: #03C;
}
.nf-container {
	background-color: white;
	margin-top: 1em;
	margin-bottom: 1em; 
	padding: .5em;
	border-right: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
}
.custom-tbl {
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: white;
}
.custom-tbl td {
	width : 25%;
	padding: .25em;
	border: 1px solid #999;
}
.custom-tbl tr.alt, tr.alt {
	background-color: #EEE;
}
.custom-tbl tr.top {
	background-color: #EEE;
}
.error {
	background-color: #FFC !important;
}
.tracker-totals {
	border: 1px solid #999;
	width: 100%;
}
.tracker-totals tr {
	background-color: #CCC;
}
.tracker-totals td.first {
	width: 25%;
	text-align: left;
	padding-left: .5em;
}
.tracker-totals td {
	width: 7em;
	text-align: left;
	border-left: 1px solid #999;
	padding-left: .5em;
}
/* Forms */
.form-container {
	margin-top: 1em;
}
.form-section {
	margin-bottom: .5em;
}
input[type=text], input[type=password] {
	padding: .3em .2em;
	font-size: 100%;
	border: 1px #CCC solid;
}
input[type=submit], input[type=button] {
	font-size: 100%;
	padding: 2px 4px;
}
textarea {
	border: 1px #ccc solid;
}
/* Profile */
.input-form {
	border: none;
	width: 50%;
	margin-top: 1em;
}
.input-form th {
	width: 40%;
	vertical-align: top;
	padding-top: .4em;
	padding-bottom: .8em;
}
.input-form td {
	width: 60%;
	vertical-align: top;
	padding-bottom: .8em;
}
.input-form-help {
	color: #666;
	font-size: 85%;
}
/* Buttons */
.nt-button {
	color: #F60;
	font-size: 85%;
	width: auto;
	overflow: visible;
}
.nt-radio label {
	color: #F60;
	font-size: 85%;
}
/* Search */
.search_blur { color: #666; font-weight: bold; }
.search_focus { color: #000; font-weight: bold; }